h1 {
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  float: right;
  color: #6CC49A;
  margin-top: 3px; }

h2 {
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  color: #6CC49A; }

h3 {
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  color: #6CC49A; }

h4 {
  font-family: arial, sans-serif;
  font-size: 8px;
  text-align: center;
  display: inline-block;
  color: #6CC49A; }

p {
  font-family: arial, sans-serif;
  float: left;
  color: #6CC49A; }

ul {
  display: block;
  margin: 0;
  padding: 0; }

body {
  font-family: arial;
  background-color: white; }

.container {
  display: block;
  vertical-align: top;
  margin: auto;
  margin-top: 50px; }

.mainTshirt {
  height: 240px;
  position: justify;
  margin-left: 10px; }

.wrap {
  border: 2px;
  border-style: solid;
  border-color: #6CC49A; }

.right, .middle, .left {
  height: 60%;
  display: inline-block;
  vertical-align: center;
  align: center;
  box-sizing: border-box; }

.upper {
  margin: 0;
  align: center; }

.lower {
  width: 100%;
  height: 40px;
  margin: 0;
  display: inline-block;
  border-top: 2px solid;
  border-color: #6CC49A; }

.row {
  margin: 0; }

.subbox {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 20.23121%;
  margin-left: -4px;
  border-right: 2px solid;
  border-color: #6CC49A; }

.subbox i {
  font-size: 20px;
  color: #6CC49A;
  margin-top: 9px;
  margin-left: 17px;
  display: inline-block; }

.subbox img {
  max-width: 100%;
  max-height: 100%;
  margin-top: -30px; }

.dropdown {
  display: block;
  width: 100%;
  height: 100%;
  position: justify;
  background: none; }

.dropbtnText {
  font-size: 18px;
  color: #6CC49A;
  border: none;
  cursor: pointer;
  vertical-align: center;
  display: inline-block;
  background: none;
  margin-top: 7px;
  margin-left: 10px; }

.subbox:hover {
  background-color: #6CC49A;
  color: white;
  cursor: pointer; }

.subbox:hover .dropbtnText {
  color: white; }

.subbox:hover i {
  color: white; }

.subbox:nth-child(5) {
  border-right: none; }

.subbox a:hover {
  background-color: #6CC49A; }

.subbox:active {
  background-color: #6CC49A; }

.flipbox {
  width: 30px;
  height: 30px;
  border: 2px solid #6CC49A;
  background-color: white;
  border-top: none;
  border-right: none;
  display: block;
  position: absolute;
  top: 2px;
  right: 17px;
  z-index: 100;
  text-align: center; }

.flipbox i {
  color: #6CC49A;
  position: absolute;
  top: 8px;
  right: 6px; }

.flipbox:hover {
  background-color: #6CC49A;
  color: white;
  cursor: pointer; }

.flipbox:hover i {
  color: white; }

.dropdown_content {
  display: none;
  position: relative;
  background-color: white;
  border: 2px solid #6CC49A;
  border-bottom: none;
  min-width: 105%;
  top: -196px;
  left: -2px; }
  .dropdown_content li {
    list-style: none; }

.dropbtnIMG {
  font-size: 18px;
  border: none;
  cursor: pointer;
  vertical-align: top;
  position: relative;
  display: inline-block;
  background: none;
  padding: 0;
  margin-top: 7px;
  margin-left: 17px; }

.dropbtnIMG i {
  padding: 0;
  margin: 0; }

.dropdown_content ul li img {
  margin: 0 auto;
  display: block; }

.dropdown_content.boxesdropdwn i {
  display: inline-block;
  margin-left: 6px;
  margin-top: 1px;
  padding: 0;
  width: 28%; }

.dropbtnIMGtwo {
  font-size: 18px;
  border: none;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  background: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-left: 22px; }

.dropbtnIMGtwo i {
  vertical-align: top;
  margin: 0;
  margin-left: 4px;
  margin-top: 4px;
  color: #7FBBE8; }

.dropbtnIMGthree {
  font-size: 18px;
  border: none;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  background: none;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: 15px; }

.dropbtnIMGthree i {
  vertical-align: top;
  margin: 0;
  margin-left: 10px;
  margin-top: 7px;
  color: #DDB179; }

.boxOne {
  color: #D382AA; }

.dropdown_content.boxesdropdwn {
  top: -51px;
  left: -2px;
  width: 106%;
  position: absolute; }

.dropdown_content.boxesdropdwn i {
  padding-left: 5px; }

.dropdown_content.boxesdropdwn i:nth-child(1) {
  color: #1DA1F2; }

.dropdown_content.boxesdropdwn i:nth-child(2) {
  color: #D382AA; }

.dropdown_content.boxesdropdwn i:nth-child(3) {
  color: #DDB179; }

.dropdown_content.boxesdropdwn i:nth-child(4) {
  color: #7A925D; }

.dropdown_content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown_content a:hover {
  background-color: #6CC49A;
  margin: 0; }

.dropdown:hover .dropdown_content {
  display: block;
  align-content: center;
  background-color: none; }

.dropdown:hover .dropbtn {
  background-color: #6CC49A; }

.dropdown_content ul {
  padding: 0;
  margin-right: 0;
  display: block; }

.containerCart {
  width: 55%;
  height: 40%;
  margin-left: 14px;
  margin-bottom: 10px;
  border: 2px solid #6CC49A;
  border-radius: 5px 5px 5px 5px; }

.named, .numbers {
  margin-top: 10px;
  height: 90%; }

.ItemSub, .Tax, .Total {
  height: 63px;
  border-bottom: 2px solid #6CC49A;
  vertical-align: bottom; }

.Total {
  border-bottom: none; }

.Tax, .Total h1 {
  font-size: 10px;
  align-content: center; }

.active {
  background-color: #6CC49A; }
  .active i {
    color: white; }
  .active .shopping-cart {
    color: white; }

.cartItem {
  width: 30%;
  height: 90%;
  margin-top: 10px; }
  .cartItem h1 {
    display: block;
    text-align: right;
    width: 100%; }

.activeItem {
  padding: 5px; }
  .activeItem i {
    color: #6CC49A;
    font-size: 20px;
    cursor: pointer; }

span.price {
  font-size: 18px;
  color: #6CC49A;
  text-align: right; }

.rowTag {
  height: 50px;
  width: 100%; }
  .rowTag h1 {
    background-color: white;
    border-bottom: 2px dotted #6CC49A;
    font-size: 21px;
    margin-left: 14px;
    padding: 4px;
    float: left; }

.containerIMG.about {
  width: 100%;
  height: 409px; }
  .containerIMG.about img {
    height: 100%;
    width: 55%; }

.containerIMG.about h2 {
  bottom: -40px;
  color: #6cc49a;
  font-size: 40px;
  left: 91px;
  position: relative;
  text-align: left; }

.containerIMG.about p {
  font-size: 20px;
  font-style: italic;
  float: right;
  opacity: 0.5; }

.container-fluid.Content {
  width: 100%; }

.contentMain {
  width: 60%;
  margin-top: 20px; }

.calloutBox {
  border-radius: 5px;
  top: 300px;
  height: 128px;
  position: fixed;
  left: 125px;
  width: 204px;
  background-color: #6CC49A;
  box-shadow: 10px 14px 11px 2px rgba(0, 0, 0, 0.5); }
  .calloutBox .upper {
    border-bottom: 2px solid white; }
  .calloutBox h3 {
    color: white; }

.contentContainerContact {
  background-color: white;
  margin-top: 40px; }

.contentMenuContact img {
  width: 100px;
  height: 100px;
  margin-left: 150px; }

.contentContact, .contentContact2 {
  margin-top: 20px; }
  .contentContact label, .contentContact2 label {
    color: #6CC49A; }

.contentContact {
  border-left: 2px dotted #6CC49A; }
  .contentContact h2 {
    font-style: underline; }

.contentContact2 {
  margin-top: 84px; }

.submitEmail {
  border-radius: 5px;
  background-color: #6CC49A;
  color: white;
  margin-left: 44px;
  margin-top: 16px; }

.containerHead {
  width: 100%;
  height: 70px;
  display: inline-block;
  background-color: #6CC49A;
  margin: none; }
  .containerHead h1, .containerHead h2 {
    color: white;
    align: center;
    float: none; }
  .containerHead h1 {
    margin-top: 40%; }

.headerMenu {
  display: inline-block;
  position: absolute;
  vertical-align: top;
  top: -102px;
  margin-left: 70px; }
  .headerMenu li {
    display: inline;
    padding-right: 20px; }

a:hover {
  width: 100%;
  height: 100%;
  color: #6CC49A; }

.Logo {
  float: left; }

.circleHeader {
  width: 100px;
  height: 100px;
  border: 5px solid #6CC49A;
  margin-left: -20px;
  border-radius: 50%;
  background-color: white; }

.circleHeader img {
  left: -10px;
  max-height: 75px;
  max-width: 85px;
  position: relative;
  top: 6px;
  transform: rotate(-15deg); }

.containerIMG {
  width: 100%;
  margin-top: -5px; }
  .containerIMG img {
    width: 100%;
    height: 50%; }

.Content {
  width: 100%;
  background-color: #6CC49A; }
  .Content i, .Content h2, .Content h1, .Content p {
    color: white; }

.contentMenu {
  margin-top: 10px; }

.contentMain {
  margin-left: 10px; }

.insetMenu {
  margin-top: 10px;
  border-right: 3px solid white;
  border-radius: 5px;
  text-align: center; }
  .insetMenu i {
    font-size: 25px;
    padding-top: 7px; }
  .insetMenu .fa-google-plus {
    margin-right: -5px; }
  .insetMenu .fa-reddit {
    margin-right: 4px; }
  .insetMenu .fa-snapchat-ghost {
    margin-right: 6px; }
  .insetMenu .fa-yelp {
    margin-right: 6px; }
