.aboutPhoto {
	height:409px;
	z-index:-1;
	padding:0;
	top:-5px;
	margin-bottom:-5px;

	img {
	height: 100%;
	width:auto;
	}
}

.aboutText {
	background-color:white;

	h2 {
	top: 140px;
    color: #6cc49a;
    font-size: 40px;
    left: 91px;
    text-align:left;
	}
	p {
	font-size: 20px;
	font-style:italic;
	float:right;
	opacity:0.5;
	}
}

.container-fluid.aboutMiddle {
	height:auto;
	width:100%;
}

.container-fluid.Content {
	width:100%;
}

.contentMain {
	width:60%;
	margin-top:20px;
}

@media screen and (max-width: 980px) {
	.containerIMG.about img {
		width:100%;
	}

	.aboutPhoto {
		height:auto;
	}
}

@media screen and (max-width:360px) {
	.aboutText {
		margin-top: 30px;
	}
}