h1 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	float: right;
	color: $primaryColor;
	margin-top: 3px;
}

h2 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-align:center; 
	display: inline-block;
	color: $primaryColor;
}

h3 {
	font-family: arial, sans-serif;
	font-weight:bold;
	font-size: 14px;
	text-align:center; 
	display: inline-block;
	color: $primaryColor;
}

h4 {
	font-family: arial, sans-serif;
	font-size: 8px;
	text-align:center; 
	display: inline-block;
	color: $primaryColor;
}

p {
	font-family: arial, sans-serif;
	float: left;
	color: $primaryColor;
}

ul {
	display: block;
	margin:0;
	padding:0;
}